@import '../layouts';

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    transition: background 0.2s;

    &__title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 0.2rem;
    }

    &__contact-btn {
        border-radius: 8px;
    }

    @media (max-width: 800px) {
        nav {
            display: none;
        }
    }

    .nav-link {
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.15s;

        &:hover {
            opacity: 1;
        }
    }
}

.site {
    display: flex;
    flex-direction: column;

    .container {
        @media (max-width: 767px) {
            margin: 0;
            max-width: 100%;
        }
    }

    &__background {
        height: 79.5vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        &-content {
            @extend %absolute-center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #fff;
            max-width: 583px;

            h1 {
                margin-bottom: 20px;
            }
        }

        &:before {
            content: '';
            display: block;
            height: 100%;
            background: linear-gradient(180deg,rgba(0,0,0,.48) 0,rgba(0,0,0,.64) 100%);
        }

        @media (max-height: 700px) {
            height: 100vh;
        }
    }

    &__section {
        margin: 100px 0;

        @media (max-width: 768px) {
            margin: 60px 0;
        }

        &-title {
            font-weight: normal;
            font-size: 34px;
            margin-bottom: 40px;

            @media (max-width: 768px) {
                font-size: 28px;
                text-align: center;
            }
        }
    }
    .carousel {
        .slick-slide {
            @media (max-width: 768px) {
                width: 184px;
            }
        }

        .slick-arrow {
            width: 45px;
            height: 45px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            background: #fff;
            opacity: 1;
            box-shadow: 0 0 2px rgb(0 0 0 / 8%), 0 2px 24px rgb(0 0 0 / 8%);
            transition: transform 0.3s;
            transform-origin: center;
            z-index: 10;
            outline: none;
            color: transparent;
            border: none;

            @media (max-width: 767px) {
                display: none !important;
            }

            i {
                color: rgb(20, 20, 20);
                font-size: 30px;
                @extend %absolute-center;
            }
        }

        .slick-prev {
            left: -14px;
        }

        .slick-next {
            right: -14px;
        }
    }
}

.site-footer {
    &__link {
        color: $blue-300;
    }
}